.h1{
    background-color: blue;
    color: white;
    transition: 0.3s;
    text-align: center;
    opacity: 0.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.h1:hover {opacity: 1;}

.para1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.button1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.button2 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.button3 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.nerd {
    background-color: chartreuse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
